.header {
  /* background-color: #86A788; */
  background-color: transparent;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  color: #ecf0f1;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-left ul,
.nav-right ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-left ul li,
.nav-right ul li {
  position: relative;
  padding: 1rem 2rem; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.nav-left ul li a,
.nav-right ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #ecf0f1;
  text-decoration: none;
  display: flex; 
  width: 100%; 
  height: 100%; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.nav-left ul li a:hover,
.nav-right ul li a:hover {
  color: #FFD166;
}

.dropdown-button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-right: 1.5rem; 
}

.dropdown-button::after {
  content: '';
  border: solid #ecf0f1;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.dropdown-button:hover {
  color: #FFD166;
}

.dropdown-button:hover::after {
  border-color: #FFD166;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center; 
}

.dropdown-content {
  position: absolute;
  background-color: transparent;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 10;
  top: 100%;
  left: 50%; 
  transform: translateX(-50%); 
  min-width: 200px; 
  width: max-content;
  border-radius: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;

  overflow: hidden; 
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.dropdown-content.show {
  visibility: visible;
  opacity: 1;
}

.dropdown-content li {
  padding: 10px 15px;
  border: #ecf0f1 ;
  width: 100%;
  box-sizing: border-box; 
}

.dropdown-content li:last-child {
  border-bottom: none;
}

.dropdown-content li a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
}

.dropdown-content li:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  width: 100%; 
}

.login a {
  margin-right: 1.5rem;
  font-weight: bold;
  color: #ecf0f1;
  text-decoration: none;
}

.login a:hover {
  color: #FFD166;
}